$white: #fff;

$grey0: rgb(225, 225, 225);
$grey1: rgb(200, 200, 200);
$grey2: rgb(175, 175, 175);
$grey3: rgb(150, 150, 150);
$grey4: rgb(125, 125, 125);

$blue0: #00111C;
$blue1: #001523;
$blue2: #001A2C;
$blue3: #002137;
$blue4: #00253E;
$blue5: #002945;
$blue6: #002E4E;
$blue7: #003356;
$blue8: #003A61;
$blue9: #00406C;

$purple0: #321743;
$purple1: #452C54;
$purple2: #563F64;

$aqua0: #99dfff;