@use 'baseColors' as *;
@use 'fonts' as *;
@use 'sass:color';

// Variables
$h1: clamp(2.763rem, calc( 10px + 3.575vw ), 3.738rem);
$h2: clamp(2.275rem, calc( 10px + 2.600vw ), 2.925rem);
$h3: clamp(1.853rem, calc( 10px + 1.950vw ), 2.438rem);
$h4: clamp(1.625rem, calc( 10px + 1.300vw ), 1.950rem);
$p: clamp(1.380rem, calc( 10px + 0.720vw ), 1.500rem);
$span: clamp(1.200rem, calc( 10px + 0.480vw ), 1.350rem);

// Scrollbar Style
/* width */
::-webkit-scrollbar {
  width: .6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $purple0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $purple1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $purple2;
}


// General Rules and Classes
// Font rules
html {
  // 1rem = 10px
  font-size: 62.5%;
}

html, body {
  // for single view pages, change if page is scrollable
  height: 100%;
  overflow: hidden;
  letter-spacing: .1rem;
}

body {
  margin: 0;
  background: $blue3;
  background-repeat: no-repeat;
  color: $white;
  @include outfit;
}

main {
  margin: 0 4rem;
}

h1, .h1 {
  font-size: clamp(2.763rem, calc( 10px + 3.575vw ), 3.738rem);
}
h2, .h2 {
  font-size: clamp(2.275rem, calc( 10px + 2.600vw ), 2.925rem);
}
h3, .h3 {
  font-size: clamp(1.853rem, calc( 10px + 1.950vw ), 2.438rem);
}
h4, .h4 {
  font-size: clamp(1.625rem, calc( 10px + 1.300vw ), 1.950rem);
}
p, a, .p, .a {
  font-size: clamp(1.380rem, calc( 10px + 0.720vw ), 1.500rem);
}
span, .span {
  font-size: clamp(1.200rem, calc( 10px + 0.480vw ), 1.350rem);
}

// SweetAlert module customization
.swal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
.swal-modal {
  background: $blue6;
}

.swal-text {
  color: $white;
}

.swal-button {
  background: color.adjust($aqua0, $alpha: -0.8);
  border: .2rem solid color.adjust($aqua2, $alpha: -0.5);
  border-radius: .2rem;
  color: $aqua1;
  transition: 300ms;
}

.swal-button:hover {
  background: $aqua0;
  border-color: $aqua2;
  border-radius: 0rem;
  box-shadow: 0 0 .5rem .5rem $blue1;
  color: $blue1;
}

.swal-button:focus {
  outline: none;
  box-shadow: none;
}

// Custom Special Classes
.no-pad {
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.neon-text {
  text-shadow: 0 0 .3rem $aqua0;
  -webkit-text-stroke-width: .1rem;
  -webkit-text-stroke-color: color.adjust($aqua0, $alpha: -0.5);
}