@use 'baseColors' as *;
@use 'fonts' as *;
@use 'sass:color';

// Variables
$h1: clamp(1.700rem, calc( 12px + 2.200vw ), 2.300rem);
$h2: clamp(1.400rem, calc( 12px + 1.600vw ), 1.800rem);
$h3: clamp(1.140rem, calc( 12px + 1.200vw ), 1.500rem);
$h4: clamp(1.000rem, calc( 12px + 0.800vw ), 1.200rem);
$p: clamp(0.920rem, calc( 12px + 0.480vw ), 1.000rem);
$span: clamp(0.800rem, calc( 12px + 0.320vw ), 0.900rem);

// Scrollbar Style
/* width */
::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $purple0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $purple1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $purple2;
}


// General Rules and Classes
// Font rules
html {
  font-size: 10px;
}

body, html {
  letter-spacing: 1px;
}

body {
  @include outfit;
}

h1, .h1 {
  font-size: clamp(1.700rem, calc( 12px + 2.200vw ), 2.300rem);
}
h2, .h2 {
  font-size: clamp(1.400rem, calc( 12px + 1.600vw ), 1.800rem);
}
h3, .h3 {
  font-size: clamp(1.140rem, calc( 12px + 1.200vw ), 1.500rem);
}
h4, .h4 {
  font-size: clamp(1.000rem, calc( 12px + 0.800vw ), 1.200rem);
}
p, a, .p, .a {
  font-size: clamp(0.920rem, calc( 12px + 0.480vw ), 1.000rem);
}
span, .span {
  font-size: clamp(0.800rem, calc( 12px + 0.320vw ), 0.900rem);
}

// Custom Special Classes
.no-pad {
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.neon-text {
  text-shadow: 0 0 .2rem $aqua0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: color.adjust($aqua0, $alpha: -0.5);

}