@use 'baseColors' as *;
@use 'fonts' as *;
@use 'sass:color';

// Variables
$h1: clamp(2.763rem, calc( 12px + 3.575vw ), 3.738rem);
$h2: clamp(2.275rem, calc( 12px + 2.600vw ), 2.925rem);
$h3: clamp(1.853rem, calc( 12px + 1.950vw ), 2.438rem);
$h4: clamp(1.625rem, calc( 12px + 1.300vw ), 1.950rem);
$p: clamp(1.380rem, calc( 12px + 0.720vw ), 1.500rem);
$span: clamp(1.200rem, calc( 12px + 0.480vw ), 1.350rem);

// Scrollbar Style
/* width */
::-webkit-scrollbar {
  width: .6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $purple0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $purple1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $purple2;
}


// General Rules and Classes
// Font rules
html {
  font-size: 62.5%;
}

body, html {
  letter-spacing: .1rem;
}

body {
  @include outfit;
}

h1, .h1 {
  font-size: clamp(2.763rem, calc( 12px + 3.575vw ), 3.738rem);
}
h2, .h2 {
  font-size: clamp(2.275rem, calc( 12px + 2.600vw ), 2.925rem);
}
h3, .h3 {
  font-size: clamp(1.853rem, calc( 12px + 1.950vw ), 2.438rem);
}
h4, .h4 {
  font-size: clamp(1.625rem, calc( 12px + 1.300vw ), 1.950rem);
}
p, a, .p, .a {
  font-size: clamp(1.380rem, calc( 12px + 0.720vw ), 1.500rem);
}
span, .span {
  font-size: clamp(1.200rem, calc( 12px + 0.480vw ), 1.350rem);
}

// Custom Special Classes
.no-pad {
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.neon-text {
  text-shadow: 0 0 .3rem $aqua0;
  -webkit-text-stroke-width: .1rem;
  -webkit-text-stroke-color: color.adjust($aqua0, $alpha: -0.5);
}