@use 'baseColors' as *;
@use 'base' as *;
@use 'sass:color';

@mixin animate($animation, $duration, $times){
  animation: $animation $duration $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin banner($c1, $c2, $c3, $c4, $c5, $c6) {
  background: linear-gradient(-45deg, $c1, $c2, $c3, $c4, $c5, $c6);
  background-size: 400% 400%;
  border-radius: .3rem;
  box-shadow: 0 0 1rem $blue2;

  @include keyframes(bg-animation) {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  @include animate(bg-animation, 15s, infinite);
}

@mixin myBorder($width, $direction) {
  border-width: $width;
  border-style: solid;
  border-image: linear-gradient(
    to $direction,
    color.adjust($aqua2, $alpha: -1),
    $aqua2,
    color.adjust($aqua2, $alpha: -1)
  );
  border-image-slice: 1;
}

.profile {
  display: flex;
  margin-top: 4.8rem;
  padding-bottom: 3rem;
  @include myBorder(0 0 .1rem 0, left);
}

.profile__image__container {
  width: fit-content;
}

.profile__image {
  min-width: 10rem;
  width: 20vw;
  max-width: 20rem;
  max-height: 20rem;
  margin: 0 2rem 0 0;
  border-radius: 10rem;
  border: .3rem solid $blue3;
  box-shadow: 0rem 0rem 0rem .2rem $aqua0;
}

.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  height: 20rem;
  width: fit-content;
  white-space: nowrap;
  @include myBorder(0 .1rem, top);
}

.profile__slogans__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 5rem;
  width: 100%;
}

.profile__slogans {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  height: fit-content;
  padding: .2rem 1rem;
  width: 100%;
  @include banner($blue8, $blue7, $purple0, $blue6, $blue9, $blue5);
}

.info {
  padding: 3rem 0;
  margin-bottom: 3rem;
  @include myBorder(0 0 .1rem 0, left);
}

.info__biography {
  padding: 0 3rem;
  text-align: justify;
  @include myBorder(0 .1rem 0 0, top);
}

.info__points {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 3rem;

    a {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 3rem;
      letter-spacing: .2rem;
      user-select: none;
      transition: 300ms;
    }

    a:not(:first-child) {
      margin-left: 1rem;
    }
}

.info__strong {
  a {
    background: color.adjust($green0, $alpha: -0.9);
    border: .1rem $green0 solid;
    border-radius: .3rem;
    box-shadow: 0 0 .3rem 0 $green0;
  }

  a:hover {
    background: $green0;
    border-radius: .1rem;
    box-shadow: 0 0 .6rem 0 $green0;
    color: $blue0 !important;
  }
}

.info__weak {
  a {
    background: color.adjust($red0, $alpha: -0.8);
    border: .1rem $red0 solid;
    border-radius: .3rem;
    box-shadow: 0 0 .3rem 0 $red0;
  }

  a:hover {
    background: color.adjust($red0, $alpha: -0.2);
    border-radius: .1rem;
    box-shadow: 0 0 .6rem 0 color.adjust($red0, $alpha: -0.2);
    color: $blue0 !important;
  }
}

.info__points__items {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

// Responsive

.w-100 {
  border: none !important;
}

@media only screen and (max-width: 992px) { 
  .profile__slogans h2 {
    font-size: clamp(1.625rem, calc( 10px + 1.300vw ), 1.950rem);
  }

  .info__biography {
    padding: 2rem 3rem;
    @include myBorder(.1rem 0, right);

    p {
      margin: 0;
    }
  }

  .info__points {
    padding: 2rem 3rem 0 3rem;
  }

  .info__strong {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 768px) { 
  .profile__slogans h2 {
    font-size: clamp(1.380rem, calc( 10px + 0.720vw ), 1.500rem);
  }

}

@media only screen and (max-width: 700px) { 
  .profile__slogans__container {
    display: none;
  }

  .profile__info {
    width: 100%;
  }

}

@media only screen and (max-width: 576px) { 
  .profile__image__container {
    display: none;
  }

  .info__points__items {
    flex-direction: column;
    
    a {
      margin: 0 0rem 1rem 0 !important;
    }
  }

  .profile__info {
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  .profile__info {
    border: none;
    text-align: left;

    p {
      white-space: normal;
    }
  }
}