@use 'baseColors' as *;
@use 'base' as *;
@use 'sass:color';

@mixin animate($animation, $duration, $times){
  animation: $animation $duration $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin langBorderAnimation {
  @include keyframes(lang-border-anim) {
    0% {
      border-image-source: linear-gradient(
        to left,
        $aqua0,
        $purple2,
        $aqua0
      );
    }

    50% {
      border-image-source: linear-gradient(
        to left,
        $purple2,
        $aqua0,
        $purple2
      );
    }
  
    100% {
      border-image-source: linear-gradient(
        to left,
        $aqua0,
        $purple2,
        $aqua0
      );
    }
  }
  @include animate(lang-border-anim, 5s, infinite);
}

@mixin iconSVG {
  width: 1.8rem;
  height: 1.8rem;
  fill: #fff;
  transition: 300ms;
}

.header {
  background: $blue0;
  height: 5vh;
  min-height: 3rem;
}

.navigation {
  align-items: center;
  display: flex;
  height: 5vh;
  min-height: 3rem;
  width: 100%;
}

.navigation__item_first {
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%) !important;
}

.navigation__item {
  background: $blue2;
  box-shadow: 0 -2rem 1rem -1rem $blue3 inset;
  color: $white;
  display: flex;
  font-size: $h3;
  text-decoration: none;
  height: 101%;
  align-items: center;
  padding: 0 2rem;
  margin: 0 -1rem;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
  transition: 300ms;
  white-space: nowrap;
}

.navigation__item:hover {
  color: $aqua0;
  background: $blue4;
  box-shadow: 0 -2rem 1rem -1rem $blue3 inset;
}

.navigation__title-container {
  display: flex;
  justify-content: end;
  margin-right: 2rem;
}

.navigation__title-container:hover {
  .navigation__title
  .bi-house-door {
    opacity: 0;
  }

  .navigation__title
  .bi-house-door-fill {
    opacity: 100%;
  }
}

.navigation__title {
  color: $white;
  display: grid;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 2rem;
  margin: 0;
}

.navigation__title
.bi-house-door,
.navigation__title
.bi-house-door-fill {
  grid-column: 1;
  grid-row: 1;
  transition: 300ms;
}

.navigation__title
.bi-house-door-fill {
  color: $aqua0;
  opacity: 0;
}

.navigation__language {
  display: flex;
  justify-content: end;
  margin-right: 2rem;
  width: 100%;
}

.navigation__language__container {
  display: inline-block;
}

.navigation__language__dropbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .2rem;
  background: transparent;
  border: none;
}

.navigation__language__dropbtn > svg {
  @include iconSVG;
}

.navigation__language__dropbtn > svg:hover {
  fill: $aqua0;
}

.navigation__language__dropdown {
  background: color.adjust($aqua0, $alpha: -0.9);
  display: flex;
  flex-direction: row;
  min-height: 3rem;
  align-items: center;
  margin: .35rem 0 0 0;
  opacity: 0;
  padding: .3rem .7rem;
  position: absolute;
  right: 2.75rem;
  transition: 300ms;
  visibility: hidden;
  z-index: 1;
}

.navigation__language__dropdown::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0; bottom: 0;
  left: 0; right: 0;
  padding: .15rem;
  border-radius: .3rem;
  border-width: .2rem;
  border-style: solid;
  border-image-source: linear-gradient(
    to left,
    $aqua0,
    $purple2,
    $aqua0
  );
  border-image-slice: 1;
  -webkit-mask: 
      linear-gradient(color.adjust($aqua0, $alpha: -0.25) 0 0) content-box,
      linear-gradient(#fff 0 0);
  mask: 
      linear-gradient(color.adjust($aqua0, $alpha: -0.25) 0 0) content-box,
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: destination-out;
  transition: 300ms;

  @include langBorderAnimation;
} 

.navigation__language__dropdown > a:nth-of-type(2) {
  margin: 0 1rem;
}

.navigation__language__dropdown svg {
  @include iconSVG;
}

.navigation__language__icon {
  width: 1.8rem;
}

.navigation__language__chevron {
  color: #fff
}

.navigation--active {
  color: $aqua0;
}