@use 'baseColors' as *;
@use 'base' as *;

.header {
  background: $blue0;
  height: 5vh;
  min-height: 3rem;
}

.navigation {
  align-items: center;
  display: flex;
  height: 5vh;
  min-height: 3rem;
  width: 100%;
}

.navigation__item_first {
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%) !important;
}

.navigation__item {
  background: $blue2;
  box-shadow: 0 -2rem 1rem -1rem $blue3 inset;
  color: $white;
  display: flex;
  font-size: $h3;
  text-decoration: none;
  height: 101%;
  align-items: center;
  padding: 0 2rem;
  margin: 0 -1rem;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
  transition: 300ms;
  white-space: nowrap;
}

.navigation__item:hover {
  color: $aqua0;
  background: $blue4;
  box-shadow: 0 -2rem 1rem -1rem $blue3 inset;
}

.navigation__title-container {
  display: flex;
  justify-content: end;
  margin-right: 2rem;
}

.navigation__title {
  color: $white;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 2rem;
  margin: 0;
  transition: 300ms;
}

.navigation__title:hover {
  color: $aqua0;
}

.navigation__language {
  display: flex;
  justify-content: end;
  margin-right: 2rem;
  width: 100%;
}

.navigation__language__container {
  display: inline-block;
}

.navigation__language__dropbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .2rem;
  background: transparent;
  border: none;
}

.navigation__language__dropdown {
  display: flex;
  flex-direction: row;
  margin: .8rem 0 0 0;
  opacity: 0;
  padding: .3rem;
  position: absolute;
  right: 6.5rem;
  transition: 300ms;
  visibility: hidden;
  z-index: 1;
}

.navigation__language__dropdown > a:nth-of-type(2) {
  margin: 0 1rem;
}

.navigation__language__icon {
  width: 1.8rem;
}

.navigation__language__chevron {
  color: #fff
}

.navigation--active {
  color: $aqua0;
}