@use 'baseColors' as *;
@use 'base' as *;
@use 'sass:color';

@mixin animate($animation, $duration, $times){
  animation: $animation $duration $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background: $blue3;
  background-repeat: no-repeat;
  color: $white;
}

main {
  margin: 0 4rem;
}

.title-container {
  display: flex;
  justify-content: center;
  margin: 5vh 0;
}

.intro {
  height: 20vh;
  margin: 10vh 0;
}

.intro__title {
  display: flex;
  align-items: center;
  justify-content: right;
  text-transform: uppercase;
  letter-spacing: .1rem;
  background: linear-gradient(-45deg, $blue8, $blue7, $blue9, $blue6, $blue9, $blue5);
  background-size: 400% 400%;
  text-align: right;
  margin: 0 0 0 -6rem;
  padding: 0 1rem;
  min-height: 8rem;
  border-radius: .3rem;
  box-shadow: 0 0 1rem $blue2;

  @include keyframes(bg-animation) {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  @include animate(bg-animation, 15s, infinite);
}

.intro__banner {
  background: linear-gradient(-45deg, $blue8, $blue7, $blue9, $blue6, $blue9, $blue5);
  background-size: 400% 400%;
  margin: 0 -6rem 0 0;
  border-radius: .3rem;
  box-shadow: 0 0 1rem $blue2;

  @include keyframes(bg-animation) {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  @include animate(bg-animation, 15s, infinite);
}

.intro__text {
  position: relative;
  max-width: fit-content;
  height: 8rem;
}

.intro__paragraph {
  margin-bottom: 0;
}

.intro__link {
  position: absolute;
  bottom: 0;
  background: color.adjust($aqua0, $alpha: -0.8);
  border: .1rem solid color.adjust($aqua2, $alpha: -0.5);
  border-radius: .2rem;
  color: $aqua1;
  padding: .2rem .4rem;
  transition: 300ms;
  text-decoration: none;
}

.intro__link:hover {
  background: $aqua0;
  border-color: $aqua2;
  border-radius: .1rem;
  box-shadow: 0 0 .5rem .5rem $blue1;
  color: $blue1;
}