@use 'baseColors' as *;
@use 'base' as *;
@use 'sass:color';

@mixin animate($animation, $duration, $times){
  animation: $animation $duration $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin banner {
  background: linear-gradient(-45deg, $blue8, $blue7, $blue9, $blue6, $blue9, $blue5);
  background-size: 400% 400%;
  border-radius: .3rem;
  box-shadow: 0 0 1rem $blue2;

  @include keyframes(bg-animation) {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  @include animate(bg-animation, 15s, infinite);
}

@mixin btn {
  background: color.adjust($aqua0, $alpha: -0.8);
  border: .2rem solid color.adjust($aqua2, $alpha: -0.5);
  border-radius: .2rem;
  color: $aqua1;
  padding: .2rem .6rem;
  transition: 300ms;
  text-decoration: none;
}

@mixin btn-hover {
  background: $aqua0;
  border-color: $aqua2;
  border-radius: 0rem;
  box-shadow: 0 0 .5rem .5rem $blue1;
  color: $blue1;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background: $blue3;
  background-repeat: no-repeat;
  color: $white;
}

main {
  margin: 0 4rem;
}

.intro {
  height: 12rem;
  margin: 4.7rem 0 2rem 0;
}

.intro__h2 {
  position: relative;
  opacity: 0;
  left: -8rem;
  transition: 1000ms;
}

.intro__title {
  display: flex;
  align-items: center;
  justify-content: right;
  text-transform: uppercase;
  text-align: right;
  margin: 0 0 0 -6rem;
  padding: 0 1rem 0 0;
  height: 12rem;
  @include banner;
}

.intro__banner {
  margin: 0 -6rem 0 0;
  max-height: 12rem;
  @include banner;
}

.intro__text,
.second__text {
  position: relative;
  max-width: fit-content;
  height: 12rem;
}

.intro__paragraph {
  margin-bottom: 0;
}

.intro__link,
.second__link {
  position: absolute;
  bottom: 0;
  @include btn;
}

.intro__link:hover,
.second__link:hover {
  @include btn-hover;
}

.second__title {
  display: flex;
  align-items: center;
  justify-content: right;
  text-transform: uppercase;
  text-align: right;
  margin: 0 0 0 -6rem;
  padding: 0 1rem 0 0;
  height: 12rem;
  @include banner;
}

.second__banner {
  margin: 0 -6rem 0 0;
  max-height: 12rem;
  @include banner;
}

.outro {
  opacity: 0;
  transition: 1000ms;
}

.outro__github {
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 15vh; //TODO responsive
  transform: translate(-50%);
  background: color.adjust($aqua0, $alpha: -0.98);
  border: 1px solid color.adjust($aqua0, $alpha: -0.6);
  border-radius: .6rem;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
}

.outro__btn {
  @include btn;
  display: flex;
  justify-content: space-between;
  width: 10rem;
}

.outro__btn:hover {
  @include btn-hover;
}

.halftone {
  position: absolute;
  bottom: -20rem;
  width: 40rem;
  height: 40rem;
  -webkit-mask-image: linear-gradient(-45deg, black, transparent);
  mask-image: linear-gradient(45deg, black, transparent);
  user-select: none;
  -webkit-user-drag: none;
  z-index: 0;
}

.halftone--left {
  left: -12rem;
}

.halftone--right {
  right: -12rem;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}