@use 'baseColors' as *;
@use 'base' as *;
@use 'sass:color';

.kanda {
  margin: 4.8rem 0 0 0;
  padding: 0 0 1.4rem 0;
}

.image-container {
  display: flex;
  align-items: top;
}

.kanda__image,
.portfolio__image  {
  margin-left: -1.5rem;
  max-height: 15rem;
  clip-path: polygon(0 0, 75% 0, 90% 100%, 0% 100%) !important;
  -webkit-mask-image: linear-gradient(75deg, rgba(0,0,0,1), rgba(0,0,0,0.1) 65%, rgba(0,0,0,0) 75%);
  mask-image: linear-gradient(75deg, rgba(0,0,0,1), rgba(0,0,0,0.1) 65%, rgba(0,0,0,0) 75%);
}

.portfolio {
  margin: 0 0 1.4rem 0;
  padding: 1.4rem 0;
  border-width: .1rem 0;
  border-style: solid;
  border-image: linear-gradient(
    to right,
    color.adjust($aqua2, $alpha: -1),
    $aqua2,
    color.adjust($aqua2, $alpha: -1)
  );
  border-image-slice: 1;
}

.others {
  text-align: center;

  div:nth-of-type(2) {
    border-width: 0 .1rem;
    border-style: solid;
    border-image: linear-gradient(
      to bottom,
      color.adjust($aqua2, $alpha: -1),
      $aqua2,
      color.adjust($aqua2, $alpha: -1)
    );
    border-image-slice: 1;
  }
}