@use 'baseColors' as *;
@use 'base' as *;
@use 'sass:color';

@mixin btn {
  text-decoration: none;
  background: color.adjust($aqua0, $alpha: -0.8);
  border: .2rem solid color.adjust($aqua2, $alpha: -0.5);
  border-radius: .2rem;
  color: $aqua1;
  padding: .2rem .6rem;
  margin: 0 .6rem 0 0;
  transition: 300ms;
}

@mixin btn-hover {
  background: $aqua0;
  border-color: $aqua2;
  border-radius: 0rem;
  box-shadow: 0 0 .5rem .5rem $blue1;
  color: $blue1;
}

.kanda {
  margin: 4.8rem 0 0 0;
  padding: 0 0 1.4rem 0;
}

.image-container {
  display: flex;
  align-items: top;
}

.kanda__image,
.shop__image  {
  position: relative;
  left: -15rem;
  opacity: 0;
  margin-left: -1.5rem;
  // max-height: 15rem;
  clip-path: polygon(0 0, 75% 0, 90% 100%, 0% 100%) !important;
  -webkit-mask-image: linear-gradient(75deg, rgba(0,0,0,1), rgba(0,0,0,0.1) 65%, rgba(0,0,0,0) 75%);
  mask-image: linear-gradient(75deg, rgba(0,0,0,1), rgba(0,0,0,0.1) 65%, rgba(0,0,0,0) 75%);
  transition: 600ms;
}

.shop {
  margin: 2rem 0 1.4rem 0;
  padding: 2rem 0;
  border-width: .1rem 0;
  border-style: solid;
  border-image: linear-gradient(
    to right,
    color.adjust($aqua2, $alpha: -1),
    $aqua2,
    color.adjust($aqua2, $alpha: -1)
  );
  border-image-slice: 1;
}

.kanda__content,
.shop__content {
  margin-left: -5rem;
  padding: .5rem 4rem .5rem 1rem;
  background: linear-gradient(
    75deg, color.adjust($blue1, $alpha: -.4),
    color.adjust($blue1, $alpha: -.9) 70%,
    color.adjust($blue1, $alpha: -1) 80%
  );
  border-width: 0 0 0 .1rem;
  border-style: solid;
  border-image: linear-gradient(
    to bottom,
    color.adjust($aqua2, $alpha: -.9),
    $aqua2,
    color.adjust($aqua2, $alpha: -.9)
  );
  border-image-slice: 1;

  h3 {
    color: $aqua5;
  }

  .keywords {
    color: $grey1;
  }
}

.content-link {
  @include btn;
  opacity: 0;
}

.content-link:hover {
  @include btn-hover;
}

.keywords {
  margin: 1.2rem 0 0 0;
}

.others {
  text-align: center;
  height: 20vh;

  p {
    white-space: nowrap;
  }

  a {
    @include btn;
    margin-bottom: .6rem;
  }

  a:hover {
    @include btn-hover;
  }

  div {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: color.adjust($blue1, $alpha: -.5);
    opacity: 0;
    transition: 1800ms;
  }

  // first two div
  div:nth-of-type(n+1):not(div:nth-of-type(n+3)) {
    left: -500rem;
  }

  // last two div
  div:nth-of-type(n+3) {
    right: -500rem;
  }

  // Borders, div number 2 and 3
  div:nth-of-type(n+2):not(div:last-of-type) {
    border-width: 0 .1rem;
    border-style: solid;
    border-image: linear-gradient(
      to bottom,
      color.adjust($aqua2, $alpha: -1),
      $aqua2,
      color.adjust($aqua2, $alpha: -1)
    );
    border-image-slice: 1;
  }
}

// RESPONSIVE

@media only screen and (max-width: 992px) {
  .image-container {
    align-items: flex-start;
  }

  .others {
    p {
      white-space: unset;
    }

    div {
      justify-content: space-between;
      padding: 1rem;
    }
  }
  // .kanda__image,
  // .shop__image {
  //   max-height: 15rem;
  // }
}

@media only screen and (max-width: 768px) {
  .d-block {
    border-width: .1rem 0 !important;
    border-style: solid !important;
    border-image: linear-gradient(to right, rgba(170, 229, 255, 0), #AAE5FF, rgba(170, 229, 255, 0)) !important;
    border-image-slice: 1 !important;
  }

  .image-container {
    display: none;
  }

  .kanda__content,
  .shop__content {
    border-width: 0 .1rem;
    margin-left: 0;
  }

  .others div:nth-of-type(n+2):not(div:last-of-type) {
    border-width: 0;
  }

  .mobile__border {
    border-width: 0 .1rem 0 0 !important;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgba(170, 229, 255, 0), #AAE5FF, rgba(170, 229, 255, 0));
    border-image-slice: 1;
  }

}

@media only screen and (max-width: 576px) {
  .kanda__content,
  .shop__content {
    background: linear-gradient(
      180deg, color.adjust($blue1, $alpha: -.4),
      color.adjust($blue1, $alpha: -.9) 70%,
      color.adjust($blue1, $alpha: -1) 80%
    );
    border-width: .1rem 0;
    border-style: solid;
    border-image: linear-gradient(
      to right,
      color.adjust($aqua2, $alpha: -.9),
      $aqua2,
      color.adjust($aqua2, $alpha: -.9)
    );
    border-image-slice: 1;
  }

  .shop {
    border-width: 0;
  }

  .others {
    border-width: .1rem 0 0 0;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(170, 229, 255, 0), #AAE5FF, rgba(170, 229, 255, 0));
    border-image-slice: 1;
  }
}