@use 'baseColors' as *;
@use 'base' as *;

@mixin skillTitle {
  border-bottom: .2rem solid $aqua2;
  margin: 0 0 2rem 0;
  width: 0;
  white-space: nowrap;
  transition: 1000ms;
}

.front {
  margin: 3rem 1rem;
  height: 95vh;
}

.front__title {
  @include skillTitle;
}

.front__skill__title {
  align-items: center;
  background: $blue2;
  border-radius: .4rem;
  display: flex;
  margin: 0 0 .4rem 0;
  padding: .4rem;
}

.front__skill__title > h3 {
  margin: 0;
}

.front__skill__body {
  margin: 0 0 0 .4rem;
}

.front__skill__item > h4 {
  margin: 0;
}