@use 'baseColors' as *;
@use 'base' as *;
@use 'sass:color';

@mixin skillTitle {
  border-bottom: .2rem solid $aqua2;
  margin: 0 0 2rem 0;
  width: 0;
  white-space: nowrap;
  transition: 1000ms;
}

.front {
  margin: 3rem 1rem;
  height: calc(100vh - 8rem);
}

.front__row {
  margin-bottom: 1rem;
}

.front__title {
  @include skillTitle;
}

.front__skill__title {
  align-items: center;
  background: $blue2;
  border-radius: .4rem;
  display: flex;
  margin: 0 0 .4rem 0;
  padding: .4rem;
}

.front__skill__title > h3 {
  margin: 0;
}

.front__skill__body {
  margin: 0 0 0 .4rem;
}

.front__skill__item {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-image: linear-gradient(
    to left,
    color.adjust($aqua2, $alpha: -1),
    $aqua2,
    color.adjust($aqua2, $alpha: -1)
  );
  border-image-slice: 1;
  padding-bottom: .4rem;
  margin-bottom: .4rem;
}

.front__skill__item > h4 {
  margin: 0;
}

.front__skill__item > h4 > i {
  cursor: pointer;
  font-size: .6rem;
  margin-left: .2rem;
}

.front__skill__item--info {
  position: relative;
  top: -1.2rem;
  max-height: 0;
  margin-bottom: 0;
  z-index: -1;
  opacity: 0;
  transition: 300ms;
}

// Back

.back__title {
  @include skillTitle;
}